{% load static %}

{% block styles %}
    <style>
        .my-navbar {
            z-index: 50;
        }
        .stick {
            background-color: #18353f !important;
        }
        .navbar {
            top: 0;
            padding: 0;
        }
        .nav-container {
            max-width: none !important;
        }

    </style>
{% endblock %}

 <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark flex-column my-navbar" data-navbar="sticky">
    <div class="container nav-container" style="padding: 0; margin: 0; height: 100px; background-color: #18353f;">

          <div class="navbar-left">
            <button class="navbar-toggler" type="button" style="color: #356a6b; height: 75px; width: 75px;">&#9776;</button>
            <a class="navbar-brand" href="{% url 'home_page' %}" style="margin-left: 1.7rem;">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
          </div>

          <section class="navbar-mobile">
            <span class="navbar-divider d-mobile-none"></span>

            <nav class="nav nav-navbar" style="color: #b7b5b4; font-family: 'Courier', monospace; font-size: 17px;">
              <a class="nav-link nl" href="{% url 'home_page' %}" style="font-weight: normal;">Strona główna</a>
              <a class="nav-link nl" href="{% url 'posts:all_posts_page' %}" style="font-weight: normal;">Wpisy</a>
              <a class="nav-link nl" href="{% url 'events:all_events_page' %}" style="font-weight: normal;">Wydarzenia</a>
              <a class="nav-link nl" href="{% url 'about_me' %}" style="font-weight: normal;">O mnie</a>
              <a class="nav-link nl" href="{% url 'contact_page' %}" style="font-weight: normal;">Kontakt</a>
              <a class="nav-link nl" href="{% url 'gallery_page' %}" style="font-weight: normal;">Galeria</a>
                <a class="nav-link nl" href="{% url 'pricing:pricing_page' %}" style="font-weight: normal;">Oferta</a>
            </nav>
          </section>

            <div class="navbar-right mr-3" style="display: flex;">
                <a href="{% url 'home_page' %}">
                    <h1 class="navbar-brand" href="{% url 'home_page' %}" style="font-size: 19px; font-family: Courier, monospace; color: #356a6b !important;">RenataKrol.pl</h1>
                </a>
            </div>

    </div>
  <div class="container nav-container rainbow" style="display: block !important; margin: 0; padding: 0;">
      <div class="rainbow-row" style="display: flex;">
          <div class="red" style="background-color: #ac3c38; height: 3px; width: 25%;"></div>
          <div class="yellow" style="background-color: #ffd41f; height: 3px; width: 75%;"></div>
      </div>
      <div class="rainbow-row" style="display: flex;">
          <div class="pink" style="background-color: #e97690; height: 3px; width: 50%"></div>
          <div class="green" style="background-color: #8abd41; height: 3px; width: 50%"></div>
      </div>
      <div class="rainbow-row" style="display: flex;">
          <div class="purple" style="background-color: #93699f; height: 3px; width: 40%"></div>
          <div class="blue" style="background-color: #6298b8; height: 3px; width: 60%"></div>
      </div>
  </div>
  </nav>
