{% extends 'base_index.html' %}
{% load static %}

{% block title %}
    <title>Renata Król - Oferta</title>
{% endblock %}

{% block styles %}
    <style>
        .navbar-open .navbar .nav-navbar>.nav-link {
            color: #757575 !important;
        }

        .header {
            background-color: white;
        }
        .header-img {
            height: 100%;
            width: 100%;
        }
        .caption {
            position: absolute;
            font-family: Courier, monospace;
            font-size: 50px;
            color: #b7b5b4;
            top: 24%;
            left: 10%;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'navbar-mini.html' %}

    <header class="header text-dark" style="padding: 0;">
        <div style="text-align: center; position: relative; height: 100vh;">
            <img class="header-img" src="{% static 'img/oferta.png' %}" alt="...">
            <div class="caption">O F E R T A</div>
        </div>
    </header>
{% endblock %}